/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7d7777; 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8c8787; 
  }

* {
    margin: o;
    padding: 0;
}

body {
    background: rgb(54, 73, 82);
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 30%;
    border: 1px solid rgb(255, 255, 255);
    height: 50px;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h3 {

    margin-top: 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 150%;
    letter-spacing: 2px;


}

.card:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.popUpBox {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 100%;
    min-width: 450px;
    position: relative;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 10px;
    z-index: 1;
    display: none;
    animation-name: animatetop;
    animation-duration: 0.9s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

input {
    display: none;
}

label {
    display: block;
    position: relative;
    background-color: blue;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 300px;
    padding: 18px 0;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.popUpBox p {
    text-align: center;
    color: white;
}

/*select image show*/
#images {
    /*
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 200px;
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border: 1px solid red;
*/

    width: 450px;
    height: 200px;
   
    position: relative;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    cursor: pointer;
     
}
#images:hover{
    overflow-y: scroll;
}

figure {
    width: 26%;

}

img {
    width: 90%;
    height: 50%;

}

figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
    display: flex;
    color: white;
}


.popUpBox #images span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1px;
    right: 1px;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    cursor: pointer;

    /*
    position: absolute;
    top: -2px;
    right: 5px ;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    */
}











.close {
    color: white;
    float: right;
    margin-top: -50px;
    margin-right: -15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: rgb(255, 0, 0);
    
}

